.banner {
  background-image: linear-gradient(rgba(5, 5, 5, 0.4),rgba(221, 221, 221, 0.4)),url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2050&q=80);
  background-position: center;
  background-size: cover;
  height: 500px;
}

.banner h1 {
  color: white;
  font-size: 60px;
}
